.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #2A2C2F;
  padding: 28px 48px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    min-width: 768px;
    padding: 28px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    min-width: 320px;
    padding: 16px 16px 24px;
  }
}