.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}